body{
    background: #26262d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: white;
    margin: 10px;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 10px;
    color: lightgrey;
}

/* Center container for pages */
.center-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content boxes */
.content-box,
.content-box-search-page {
    background: #6F8D6A;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.content-box {
    max-width: 600px;
    width: 90%;
}

.content-box-search-page {
    max-width: 85% !important;
    width: 90%;
}

.content-box-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-btn {
    background-color: #c6cdd5;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.primary-btn:hover {
    background-color: #ecf2f8;
}

/* Text field custom class */
.text-field {
    background-color: #c6cdd5;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
}
